<div class="d-flex justify-content-center">
  <div id="form">
    
    <%= form_tag login_path do %>
      <div class="form-group">
        Email:
        <div id="block-text">
        <%= text_field_tag :email_admin, '', class: "form-control block_color_blue" %>
        </div>
      </div>

      <div class="form-group mt-5">
        Password:
        <%= password_field_tag :password, '', class: "form-control block_color_pink" %>
      </div>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info text-center">
          <%= msg %>
        </div>
      <% end %>
      <div class="buttons fs-4">
      <input type="submit" value="Login" id="btnLogin" >
      </div>
    <% end %>
    <div class="buttons">
      <%= link_to "Back", root_path, class: "btn btn-info" %>
    </div>
  </div>
</div>
