  <table>
    <thead>
      <tr>
        <th>Private Number</th>
        <th>Number</th>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Administrator Id</th>
      </tr>
    </thead>
    <tbody>
      <% @employee.each do |employee| %>
        <tr>
          <td>
            <%= employee.id %>
          </td>
          <td>
            <%= employee.employee_number %>
          </td>
          <td>
            <%= employee.name_employee %>
          </td>
          <td>
            <%= employee.email_employee %>
          </td>
          <td>
            <%= employee.position_employee %>
          </td>
          <td>
            <%= employee.administrator_id %>
          </td>
          <td>
            <%= link_to "Edit", edit_employee_path(employee), class: "btn btn-warning" %>
          </td>
          <td>
            <%= link_to "Delete", employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>

        </tr>
      <% end %>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info text-center">
          <%= msg %>
        </div>
      <% end %>
    </tbody>
  </table>
  