<div id="table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th id="th-number">Id</th>
        <th id="th-name">Name</th>
        <th id="th-email">Address</th>
        <th id="th-admin">Administrator</th>
        <th colspan="2" id="th-options">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @company.each do |company| %>
        <tr>
          <td>
            <%= company.id %>
          </td>
          <td>
            <%= company.name_company %>
          </td>
          <td>
            <%= company.address %>
          </td>
          <td>
            <%= company.administrator_id %>
          </td>
          <td id="tr-edit">
            <%= link_to "Edit", edit_company_path(company), class: "btn btn-warning" %>
          </td>
          <td id="tr-deactivate">
            <%= link_to "Delete", company_path(company), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td> 

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
