<div class="logo">
    <h1>Foo Corp</h1>
  </div>
<body>  
    <div class="date">
        <%=
          Time.now.strftime("%d-%B-%Y")
        %>
    </div>
    <div class="time">
        <%=
          Time.now.strftime("%R")
        %>
    </div>

  <div class="body-check">
    <div>
      <%= form_with url: reports_path do |report|%>
        <div class="form-group" id="block-check">
          <%= report.label :private_number, class: "form-label"%>
          <div id="input-check">
            <%= report.number_field :private_number, class: "form-control fs-1 text-center"%>
          </div>
        </div>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info text-center">
            <%= msg %>
          </div>
        <% end %>
        <div class="buttons">
        <%= report.submit "Check in", class: "btn btn-success btn-lg"%>
        <%= report.submit "Check out", class: "btn btn-danger btn-lg"%>
        </div>
      <% end %>
          
    </div>
 
    <%= link_to "Log in", login_path, class: "btn btn-primary" %>
  </div>
</body>