<div class="Title">
    <h1>Foo Corp</h1>
  </div>
  <div>
    
    <div>
      <h4 class="date">
        <%=
          Time.now.strftime("%d-%B-%Y")
        %>
      </h4>
    </div>
    <div>
      <h4 class="time">
            <%=
              Time.now.strftime("%R")
            %>
      </h4>  
    </div>

  </div>
  <div>
    <div>
      <%= form_with url: reports_path do |report|%>
        <div class="form-group">
          <%= report.label :employee_number, class: "form-label"%>
          <%= report.number_field :employee_number, class: "form-control"%>
        </div>

        <%= report.submit "Check in", method: :checkin, class: "btn btn-success"%>
      <% end %>    
    </div>
      

      <%= link_to "Log in", login_path, class: "btn btn-primary" %>
  </div>